# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
.pytest_cache/

# Dist
*.egg-info/
dist/
build/
